<%= turbo_frame_tag 'messages' do %>
  <% @chat.messages.each do |message| %>
    <%= render partial: 'messages/message', locals: { message: message } %>
  <% end %>
<% end %>
<%= form_with(model: [ @chat, @chat.messages.build ], html: { class: "bg-white rounded-lg p-4 shadow mb-4" }, data: {'controller' => 'chat'}) do |form| %>
  <div class="mb-2">
    <%= form.label :body, class: "block text-darkBlue font-medium mb-2" %>
    <%= form.text_area :body, class: "w-full rounded border border-blue p-2", data: { 'chat-target' => 'source' } %>
  </div>
  <%= form.submit "Send", class: "bg-purple text-white font-bold py-2 px-4 rounded hover:bg-darkPurple", data: { 'action' => 'chat#clear' } %>
<% end %>


<div class="mt-4">
  <%= link_to "Edit this chat", edit_chat_path(@chat), class: "text-blue hover:text-darkBlue" %> |
  <%= link_to "Back to chats", chats_path, class: "text-blue hover:text-darkBlue" %>
  <%= button_to "Destroy this chat", @chat, method: :delete, class: "bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700" %>
</div>
